<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Hello Business</h1>
      <p><a href="/">Home</a>
      <br>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      <p>Click <a href="/logout">here</a> to logout.</p>
    </div>
  </body>
</html>