<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Hello Consumer</h1>
      <br>
      <p><a href="/">Home</a>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate amet voluptatem in. Nobis explicabo itaque labore ipsa tenetur numquam dolorem ipsam nostrum, aliquid repudiandae exercitationem ducimus esse ad sunt libero autem doloremque possimus sed, nemo deserunt voluptate totam aspernatur! Quo natus alias nulla voluptatibus dolor maiores tenetur tempore dolore perspiciatis.</p>
    </div>
  </body>
</html>