<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='stylenav.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='styleform.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='pop.css')}}">

    <style>
      label {
        padding: 1%;
      }
      input[type="file"]::file-selector-button {
  border: 2px solid #AFD0BF;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
  background-color: #AFD0BF;
  transition: 1s;
  height: 25%;
}

input[type="file"]::-ms-browse:hover {
  background-color: #808F87;
  border: 2px solid #808F87;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #808F87;
  border: 2px solid #808F87;
}

input[type="file"]::file-selector-button:hover {
  background-color: #808F87;
  border: 2px solid #808F87;
}

    </style>

    <script>
      let autocomplete;
      let address1Field;
      let address2Field;
      let postalField;

      function initAutocomplete() {
        address1Field = document.querySelector("#ship-address");
        address2Field = document.querySelector("#address2");
        postalField = document.querySelector("#postcode");
        // Create the autocomplete object, restricting the search predictions to
        // addresses in the US and Canada.
        autocomplete = new google.maps.places.Autocomplete(address1Field, {
          componentRestrictions: { country: ["us", "ca"] },
          fields: ["address_components", "geometry"],
          types: ["address"],
        });
        address1Field.focus();
        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener("place_changed", fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        let address1 = "";
        let postcode = "";

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        // place.address_components are google.maps.GeocoderAddressComponent objects
        // which are documented at http://goo.gle/3l5i5Mr
        for (const component of place.address_components) {
          // @ts-ignore remove once typings fixed
          const componentType = component.types[0];

          switch (componentType) {
            case "street_number": {
              address1 = `${component.long_name} ${address1}`;
              break;
            }

            case "route": {
              address1 += component.short_name;
              break;
            }

            case "postal_code": {
              postcode = `${component.long_name}${postcode}`;
              break;
            }

            case "postal_code_suffix": {
              postcode = `${postcode}-${component.long_name}`;
              break;
            }
            case "locality":
              document.querySelector("#locality").value = component.long_name;
              break;
            case "administrative_area_level_1": {
              document.querySelector("#state").value = component.short_name;
              break;
            }
            case "country":
              document.querySelector("#country").value = component.long_name;
              break;
          }
        }

        address1Field.value = address1;
        postalField.value = postcode;
        // After filling the form with address components from the Autocomplete
        // prediction, set cursor focus on the second address line to encourage
        // entry of subpremise information such as apartment, unit, or floor number.
        address2Field.focus();
      }

      window.initAutocomplete = initAutocomplete;
      </script>

    <title>Donate</title>
  </head>
  <body style="background-color:#B3deb3">
    <section>
      <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
          <div class="container">
            <a class="navbar-brand" href="/"><img style="max-width: 10%; padding-left: 2%;" src="{{url_for('static', filename='imglogo.png')}}"><img style="max-width: 20%; padding-left: 2%;" src="{{url_for('static', filename='imglogo2.png')}}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto mr-md-3">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="/donate" class="nav-link">Donate</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                <li class="dropdown nav-item d-md-flex align-items-center">
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- END nav -->
    </div>
    </section>
  

  <div class="content">
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-12">
          <div class="form h-100">
            <h3>Donation Information</h3>
            
            <p>
              <a style="float: right;" href="/logout" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Log out
              </a>
              You've logged in successfully! Fill out the form to donate your unused wares. <br>
            </p> 
            <div class="container">
              <form id="address-form" action="" method="get" autocomplete="off">
                <label class="full-field">
                  <span class="form-label">Organization</span>
                </label>
                <input
                  id="company-name"
                  name="company-name"
                  placeholder="e.g. Mcdonald's"
                  autocomplete="off"
                /> <br>
                <label class="full-field">
                  <!-- Avoid the word "address" in id, name, or label text to avoid browser autofill from conflicting with Place Autocomplete. Star or comment bug https://crbug.com/587466 to request Chromium to honor autocomplete="off" attribute. -->
                  <span class="form-label">Street</span>
                </label>
                  <input
                    id="ship-address"
                    name="ship-address"
                    style="width: 56.5%;" 
                    autocomplete="off"
                  />
                <label class="full-field">
                  <span class="form-label">City</span>
                </label>
                  <input placeholder="Kingston" id="locality" name="locality" /><br>
                <label class="slim-field-left">
                  <span class="form-label">Province</span>
                </label>
                  <input placeholder="Ontario" id="state" name="state" />
                  
                <label class="slim-field-right" for="postal_code">
                  <span class="form-label">Postal Code</span>
                </label>
                  <input placeholder="K7M 1A3"id="postcode" name="postcode" />
                <label class="full-field">
                  <span class="form-label">Country/Region</span>
                </label>
                  <input placeholder="Canada" id="country" name="country" />

                  <br>
                  <label class="full-field">
                    <span class="form-label">Food Item Available</span>
                  </label>
                    <input placeholder="e.g. Rice" id="foodItem" name="foodItem" />
        
                  <label class="full-field">
                    <span class="form-label">Food Category:</span>
                    <select>
                      <option value="Any">Any</option>
                      <option value="sweets">Sweets</option>
                      <option value="high-protein">High-Protein</option>
                      <option value="non-perishable">Non-Perishable</option>
                  </select>
                  </label>
                  <br>
                  <label class="full-field">
                    <span class="form-label">Upload Image:</span>
                  </label>
                  <input
                  type="file" name="fileToUpload" id="fileToUpload">
        
                  <br>
                    <button type="button" class="btn btn-primary" onclick="openPopup()">Submit</button> 
                     <div class="popup-pop" id="popup-pop">
                      <div class="popup-pop3" id="popup-pop"><img src="{{url_for('static', filename='tick.png')}}"></div>
                       <h2>Thank You!</h2>
                       <p>We will put your donation up for people in need. Thank you for your contribution!</p>
                       <button type="button" onclick="closePopup()">OK</button>
                     </div>
                   <script>
                     let popup = document.getElementById("popup-pop");
                     
                     function openPopup(){
                       popup.classList.add("open-popup-pop");
                     }
                     function closePopup(){
                       popup.classList.remove("open-popup-pop");
                       location.href = "/";
                     }
                   </script>
          
                <!-- Reset button provided for development testing convenience.
            Not recommended for user-facing forms due to risk of mis-click when aiming for Submit button. -->
                <input type="reset" class="btn btn-primary" value="Clear form" />
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWkQvoVZn9ObPO_f_lUxOqSqMjK69q9RE&callback=initAutocomplete&libraries=places&v=weekly"
  defer
></script>

<script>
  function SubmitFoodHandler() {
    location.href = "/";
  }
</script>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

	<footer class="bg-light text-center text-white" style="margin: 0%;">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<!-- Facebook -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #3b5998;
		  border-radius: 10px;"
		  href="#!"
		  role="button"
		  ><img width="100%" height="100%" src="{{url_for('static', filename='fb.png')}}" alt="" srcset=""></a>
  
		<!-- Twitter -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #55acee;
		  border-radius: 6px;"
		  href="#!"
		  role="button"
		  ><img width="80%" height="100%" src="{{url_for('static', filename='tw.png')}}" alt="" srcset=""></i
		></a>

  
		<!-- Instagram -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #ac2bac;
		  border-radius: 10px;"
		  href="#!"
		  role="button"
		  ><img width="100%" height="100%" src="{{url_for('static', filename='ig.png')}}" alt="" srcset=""></i
		></a>
  
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: #E2EFDE; color: #808F87;">
	  © 2023 Copyright:
	  <a style="color: #808F87;" href="https://google.ca/">food4all.org</a>
	</div>
	<!-- Copyright -->
  </footer>
	
  </div>
  <!-- End of .container -->
  </body>
</html>