<!doctype html>
<html lang="en">
  <head>
  	<title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='stylenav.css')}}">

	</head>
	<body style="background-color: #B3deb3;">
	<section>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    	<a class="navbar-brand" href="/"><img style="max-width: 10%; padding-left: 2%;" src="{{url_for('static', filename='imglogo.png')}}"><img style="max-width: 20%; padding-left: 2%;" src="{{url_for('static', filename='imglogo2.png')}}"></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
		        	<li class="nav-item"><a href="/donate" class="nav-link">Donate</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">About</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
		          <li class="dropdown nav-item d-md-flex align-items-center">
              </li>
		        </ul>
		      </div>
		    </div>
		  </nav>
    <!-- END nav -->
  </div>
	</section>

	<p><a href="/donate">Businesses</a>
        <a href="/consumers">Consumers</a>
    </p>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

	<footer class="bg-light text-center text-white" style="margin: 0%;">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<!-- Facebook -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #3b5998;
		  border-radius: 10px;"
		  href="#!"
		  role="button"
		  ><img width="12px" height="1%" src="{{url_for('static', filename='fb.png')}}" alt="" srcset=""></a>
  
		<!-- Twitter -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #55acee;
		  border-radius: 10px;"
		  href="#!"
		  role="button"
		  ><img width="15px" height="1%" src="{{url_for('static', filename='tw.png')}}" alt="" srcset=""></i
		></a>

  
		<!-- Instagram -->
		<a
		  class="btn btn-primary btn-floating m-1"
		  style="background-color: #ac2bac;
		  border-radius: 10px;"
		  href="#!"
		  role="button"
		  ><img width="17px" height="1%" src="{{url_for('static', filename='ig.png')}}" alt="" srcset=""></i
		></a>
  
	  </section>
	  <!-- Section: Social media -->
	</div>
	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: #E2EFDE; color: #808F87;">
	  © 2023 Copyright:
	  <a style="color: #808F87;" href="https://google.ca/">food4all.org</a>
	</div>
	<!-- Copyright -->
  </footer>
	
  </div>
  <!-- End of .container -->

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>